# Fichiers et dossiers générés par Android Studio / IntelliJ
.idea/
*.iml

# Fichiers de build
.gradle/
build/
*/build/

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers locaux sensibles
local.properties

# Cache Gradle
.gradle/

# Logs
*.log

# Fichiers temporaires
*.tmp

# Fichiers APK ou AAB générés
*.apk
*.aab